@{
                /**/

                ViewBag.Title = "pagoAceptado";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gracias por su compra, su pago a sido procesado, puede ver su pedido haciendo clic en su nombre</h2>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 ">
            <input type="submit" value="Continuar" class="btn btn-default" />
        </div>
    </div>
}