
@{
    ViewBag.Title = "Invalida";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Su tarjeta no es valida, registrese nuevamente con una tarjeta valida</h2>
@using (Html.BeginForm("BorrarUser", "clientes", FormMethod.Get))
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Continuar" class="btn btn-default" />
        </div>
    </div>
}
